<main class="index">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">TechU Project</h1>
      <h3 class="mb-5">
        <en>Review your accounts and movements</en>
      </h3>
      <a href="/signin" class="btn btn-primary">
        Let's get Started
      </a>
    </div>
  </header>
</main>
