<div class="container p-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-center">
        <div class="card-body">
          <h3>Welcome {{user.fullname}}</h3>
          <h4>{{user.username}}</h4>
          <a href="/accounts" class="btn btn-primary m-4">
            Save your accounts
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
