<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/accounts/add" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="iban" placeholder="Account Number" autofocus>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" name="balance" placeholder="Balance" >
            </div>
             <div class="form-group">
               <button class="btn btn-success btn-block">
                 Save
               </button>
             </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
