<div class="container p-4">
  <div class="row">
    {{#each accounts}}
      <div class="col-md-3">
        <div class="card text-center">
          <div class="card-body">
            <a href="">
              <h3 class="card-tittle text-uppercase">
                {{iban}}
              </h3>
            </a>
            <p class="m-2">{{balance}}</p>
            <a href="/accounts/delete/{{accountId}}" class="btn btn-danger">Delete</a>
            <a href="/accounts/edit/{{accountId}}" class="btn btn-secondary">Edit</a>
          </div>
        </div>
      </div>
      {{else}}
        <div class="col-md-4- mx-auto">
          <div class="card card-body text-center">
            <p>There are not accounts registered yet.</p>
            <a href="/accounts/add">Create One</a>
          </div>
        </div>
      {{/each}}
  </div>
</div>
