<div class="container p4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>SignIn</h3>
        </div>
        <div class="card-body">
          <img src="/img/techu_white.png" alt="Logo Techu" class="card-img-top  mx-auto m-2">
          <form class="" action="/signin" method="post">
            <div class="form-group">
              <input type="text" name="username" placeholder="User Name" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block">
                SignIn
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
